# git fuckery to ignore files without extensions
*
!*.*
!*/
!LICENSE

*.exe
algos.md
.vscode/

# differents DLLs depending on the platform
lib/

# me doing tests with shaders
shaders/

.DS_Store